* {
    box-sizing: border-box;
}

body {
    background: lightblue
}

#title {

    text-align: center;
}

#description {
    text-align: center;
}

#survey-form {
    display: inline-block;
    text-align: right;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background: white;
    padding: 1em 0 1em 0;
}


#alignmentdiv {
    display: block;
    text-align: center
}

input {
    padding-right: 5em;
    width: 50%
}

select {
    padding-right: 5em;
    width: 50%
}

ul {
    list-style: none;
}

li {
    margin: 1em 0 1em 0;
    padding-right: 33%;

}