* {
    box-sizing: border-box;
}

html,
body {
    background: lightblue;
    height: 100%;
    width: 100%;

}

#title {

    text-align: center;
}

#description {
    text-align: center;
}

#survey-form {
    display: inline-block;
    /* text-align: right; */
    margin-right: auto;
    margin-left: auto;
    width: 50%;

    padding: 1em 0 1em 0;
}


#alignmentdiv {
    display: block;
    text-align: center;
    background: white;
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
}

.label {
    float: left;
    text-align: right;
    width: 45%;


}

#number,
#email,
#name {
    width: 100%
}

.input {
    float: left;
    width: 45%;
    text-align: left;
    margin-left: .5em;

}



ul {
    list-style: none;
    padding: 0
}

li {
    /* margin: 1em 0 1em 0; */
    padding: 1.5em 0 1.5em 0;


}

button {
    position: relative;
    margin: 2em 0 0 1em;
}